# --- Maven ---
target/

# --- Eclipse ---
.settings/
.classpath
.project
.factorypath
*.log

# --- IntelliJ IDEA ---
.idea/ 
*.iml
out/

# --- VS Code --- 
.vscode/

# --- Sistema Operativo ---
.DS_Store
Thumbs-db
